.manage-trans-container {
  animation: moveIn 0.5s forwards;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .title-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .title {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 600;
    }
    .total {
      display: flex;
      column-gap: 12px;
    }
  }
  .table-row-wrapper {
    width: 80%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    max-height: 100vh;
    overflow: scroll;
    .table-row {
      &.edited {
        transform: translateY(-2px) scale(1, 1);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
    .loading {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      justify-content: center;
      align-items: center;
      height: 500px;
      span {
        height: 24px;
        width: 24px;
      }
    }
  }
  .top-action {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
    margin-bottom: 42px;
    .search-container {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      column-gap: 12px;
      padding: 8px 14px;
      background-color: white;
      border-radius: 18px;
      display: flex;
      align-items: center;
      .search {
        outline-style: none;
        border: none;
        background-color: transparent;
      }
    }
    .btns {
      display: flex;
      column-gap: 12px;
      .btn {
        padding: 4px 8px;
        border-radius: 4px;
        color: white;
        background-color: #a1c1e8;
        &.active {
          background-color: #5289cc;
        }
        &:hover {
          background-color: #5289cc;
        }
      }
    }
  }
  .total {
    font-weight: 600;
    color: red;
    font-size: 24px;
    margin-bottom: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    column-gap: 12px;
    .quans {
      color: #5289cc;
    }
  }

  .table-row {
    border-bottom: 1px solid #f1f4f8;
    background-color: white;
    padding: 12px 16px;
    display: flex;
    width: 100%;
    align-items: center;
    transition: all 0.2s;
    column-gap: 12px;
    cursor: pointer;
    &.table-head {
      margin-top: 22px;
      font-size: 16px;
      font-weight: 600;
      background-color: #f46a6a;
      color: white;
      border-bottom: none;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      padding-top: 32px;
      padding-bottom: 32px;
      &:hover {
        transform: scale(1, 1);
        box-shadow: none;
      }
    }
    .stt {
      width: 5%;
    }
    .id {
      width: 25%;
    }
    .date {
      width: 25%;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .cardType {
      width: 10%;
    }
    .bankCode {
      width: 10%;
    }

    .price {
      flex: 1;
    }
  }
  .pagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 12px 0px;
    padding: 12px;
    .num {
      transition: all 0.3s;
      cursor: pointer;
      padding: 4px 12px;
      border-radius: 8px;
      &.active {
        background-color: #f46a6a;
        color: white;
        &:hover {
          background-color: #f46a6a;
        }
      }
      &:hover {
        background-color: #e99b9b;
      }
    }
    .btn-change {
      border-radius: 8px;
      padding: 4px 12px;
      background-color: white;
      color: black;
      margin: 0px 8px;
      font-weight: 600;
      cursor: pointer;
    }
  }
  .chart {
    width: 80%;
  }
}
@keyframes moveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
